* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #4f5d80;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.logo {
    color: #fff;
    font-size: 20px;
    width: 50%;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.menu {
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    overflow: hidden;
    background-color: #262e42;
    text-align: center;
}

.hide {
    height: 0;
    transition: 1s;
}

.show {
    transition: 1s;
    height: 150px;
}

.menu a {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
}

.menu a:hover {
    text-decoration: underline;
}

.icon-menu {
    text-align: right;
    cursor: pointer;
}

.icon-menu > i{
    font-size: 22px;
    color: #fff;
}